* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(./img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.digit {
    font-size: 100px;
    font-weight: bold;
}

.txt {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    background-color: #444444;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #ddd;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    box-shadow: 3px 3px #242424;
    background-color: #000;
}

.btn:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.lap-container {
    margin-top: 20px;
}

.lap-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.lap-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lap-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.container-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    /* Adjust this margin as needed */
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 550px;
    align-items: center;
}
